@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* open sans */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* montserrat */



.about-me
{
  border-radius: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  /* background-color: rgb(50, 0, 255); */
  background-color: blue;
  color:white;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;

  /* box-shadow:5px 5px 10px rgba(0, 0, 0, 100); */
}

.about-me-text-div h1
{
  text-align: center;
}

.about-img .about-me-img
{
  width:300px;
  height:300px;
}



@media screen and(max-width:450px) 
{

  .about-me-img
  {
    width:100px;
  }

}

.about-img
{
  margin-top: 10%;
  text-align: center;
}

.about-me a i
{
  opacity: 1;
  font-size: 100px;
  margin-left: 5px;
}

.about-me-socials,.about-me-skills
{
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}


.about-me-text-div
{
  padding-top: 20px;
}

.about-me p{
  padding-right: 10px;
  padding-left: 10px;
}

.about-me-resim-alti-div
{
  text-align: center;
  
}

