.footer
{
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  background-color: blue;
  margin-top: 30%;
  color: white;
  text-align: center;
}

.footer a
{
  color: white;
  text-decoration: none;
}