@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
/* caveat cursive welcome fontu */

.home-bg-div
{

  margin-top: 5%;
  width: 100%;
  margin-bottom: 40%;
  height: 500px;


  padding-top: calc(30vh);
}

.home-bg-div h1
{
  font-family: 'Caveat', cursive;
  font-size: 4em;
  color: white;
}

.home-welcome-div
{
  text-align: center;
}

.home-text-div
{
  text-align: center;
}