.projects-bg-div
{
  margin-top: 30%;
  width: 100%;
  background-color:rgba(61, 0, 255, 100);
  text-align: center;
  padding-top: 10px;
}

.projects-bg-div h1
{
  color: white;
  margin-bottom: 5%;
}

.projects-bg-div p{
  color: black;
  font-size:0.8rem;
}

.kart
{
  margin-top: 10px;
  height: 300px;
}

.kart-body
{
  padding-top: 50%;
}